@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.moving-border {
    width: auto;
    height: auto;
    position: relative;
    padding: 20px 32px;
    border-radius: 100px;
    margin-left: 1px;
}

.moving-border::before,
.moving-border::after {
    content: "";
    position: absolute;
    inset: -0.05rem;
    z-index: -1;
    background: linear-gradient(var(--angle),
            #B29CFF, #B29CFF, #B29CFF);
    animation: rotate 5s linear infinite;
    border-radius: 100px;
}

.moving-border::after {
    filter: blur(2.5px);
}

@keyframes rotate {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}