.custom-content {
    font-size: 20px;
}

.custom-content h2 {
    font-size: 28px;
    margin-bottom: 8px;
    margin-top: 24px;
    font-weight: 600;
}

.custom-content h3 {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 10px;
    font-weight: 500;
}

.custom-content h4 {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 16px;
    font-weight: 500;
}

.custom-content p {
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 100;
}

.custom-content img {
    width: 100%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.custom-content figcaption {
    display: none;
}

/* Lists */
.custom-content ul,
.custom-content ol {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 0px;
}

.custom-content ul li,
.custom-content ol li {
    margin-bottom: 4px;
    font-size: 20px;
}

/* Bold text */
.custom-content b,
.custom-content strong {
    font-weight: 700;
}

/* Links */
.custom-content a {
    color: #1500FE;
    text-decoration: none;
}

.custom-content a:hover,
.custom-content a:focus {
    text-decoration: underline;
}

/* Nested lists */
.custom-content ul ul,
.custom-content ul ol,
.custom-content ol ul,
.custom-content ol ol {
    margin-bottom: 0;
    margin-top: 0;
}

/* List item styles */
.custom-content ul li::before {
    content: '• ';
    color: #000;
    font-weight: bold;
}

.custom-content ol li {
    list-style-type: decimal;
}